[submodule "PoC/zephyr"]
	path = PoC/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "PoC/modules/crypto/mbedtls"]
	path = PoC/modules/crypto/mbedtls
	url = git@github.com:rubidijum/mbedtls-masking.git
