zephyr/*
build/*
bootloader/
applications_aes_app/build/*
applications_aes_app/zephyr/*
rpa_attack_app/build/*
rpa_attack_app/zephyr/*

modules/lib/picolibc/*

sca_trace_generator/data/
sca_trace_generator/bin/
sca_trace_generator/logs/

*.npz
*.elf
*.pyc

*.vscode

modules/*
!modules/crypto/

modules/crypto/*
!modules/crypto/mbedtls
